<button
  class="btn btn-primary"
  [disabled]="!allowServer"
  (click)="onServerCreation()"
>
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<hr />
<label for="serverName">Server name:</label>
<!-- <input type="text" class="form-control" (input)="onServerNameUpdate($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<p>{{ serverName }}</p>
<hr />
<app-server *ngFor="let server of servers"></app-server>
<!-- <app-server></app-server> -->
<label for="username">Username</label>
<input type="text" class="form-control" [(ngModel)]="username" />
<button
  class="btn btn-primary"
  style="margin-top: 10px"
  [disabled]="username === ''"
  (click)="username = ''"
>
  Log in
</button>
<p>{{ username }}</p>
<hr />
